.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: calc(100vh - 60px - 60px);
    padding: var(--spacing-2xl) 24px;
    background: var(--color-primary);
}

.inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex: 1;
}
