.navbar {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 16px 24px;
    background-color: var(--color-background);
    border-bottom: 1px solid var(--color-border);
    box-shadow: var(--shadow-sm);
    gap: 24px;
    color: var(--color-text-primary);
}

.navbar_logo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 7px;
}

.navbar_left {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 12px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar_right {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    gap: 12px;
    margin: 0 0 0 auto;
    padding: 0;
    list-style: none;
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar a {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: var(--border-radius-md) 12px;
    background: transparent;
    border-radius: var(--border-radius-md);
    font-weight: 600;
    color: var(--color-text-primary);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar li:has(a):hover {
    background-color: #f0fdf4;
    border-radius: var(--border-radius-md);
}

.navbar li:hover > a {
    color: var(--color-primary-light);
}

.logout {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: var(--border-radius-md) 12px;
    background-color: transparent;
    border: none;
    border-radius: var(--border-radius-md);
    font-family: inherit;
    font-size: var(--font-size-lg);
    font-weight: 700;
    color: #b91c1c;
    cursor: pointer;
    transition: all 0.3s ease;
}

.logout:hover {
    background-color: var(--color-error-light);
    color: #b91c1c;
}
