@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');



.banklist-page {
  background-color: #3BBE73;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px;
}

.banklist-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  justify-content: flex-start;
}

.banklist-logo-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: -0.6rem;
}


.banklist-logo{
  width: 110px;
  height: auto;
  margin-bottom: 8px;
  display: block;
}


.banklist-title{
  color:#fff;
  font-size: 28px;
  font-weight: bold;
}


.banklist-subtitle{
  color:rgb(0, 0, 0);
  margin: 0;
  font-size: 16px;
  
}

.banklist-text{
  color: rgb(3, 71, 33);
  margin-top: 25px;
  font-size: 14px;
}


.banklist-card {
 background-color: #fff;
 border-radius: 20px;
 padding: 30px 40px;
 width: 40%;
 box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
 text-align: center;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.banklist-list{
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  width: 100%;
}

.banklist-item{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin: 10px 0;
  font-size: 16px;

  border:2px solid #FBFBFC;
  border-radius: 12px;
  padding: 10px 15px;
  background-color: transparent;
  cursor: pointer;

  transition: background-color 0.2s ease, transform 0.1s ease;
}

.banklist-item:hover {
  background-color: rgba(39, 174, 96, 0.1);
  transform: translateY(-1px);
}


.connect-button {
  width: 100%;
  max-width: 300px;
  background-color: #7FCCB2;
  color: #fff;
  border-radius: 12px;
  border: none;
  padding: 12px 0;
  font-size: 16px;
  font-family:sans-serif;
  font-weight: 600;
  cursor: pointer;
  margin-top: 5px;
  transition:  background-color 0.3s ease, transform 0.2s ease;
}

.connect-button:hover{
  transform: translateY(-2px);
}
.connect-button:active{
  transform:translateY(0) ;
}